@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{
    background-image: linear-gradient(white,white,lightgrey);
    height: 800px;
}
#header-name{
    font-size: large;
    font-weight: bolder;
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 10px;
}   
#job-title{
    color: rgb(142, 141, 141);
font-weight:300;
margin-bottom: 10px;
}
.nav_link{
    color:darkgray ;
    text-decoration: none;
    margin: 0px 25px;
    transition: all ease 0.3s;
}
.nav_link:hover{
    border-bottom: 3px solid darkgray;
    scale: 1.2;
}

@media screen and (max-width:768px) {
    #header-name{
        letter-spacing: 2px;
    }
}
